.done-true{
	text-decoration : line-through;
	text:color : grey;
}

.unstyled{
	list-style:none;
}

.btn{
	width : 30px;
	height : 20px;
	text-decoration:none; 
}

.spacer{
	padding-top:10px;
}

.footer {
	font-size : 8px;
	padding-top : 10px;
}

div#container{
	background-color: blue;
	font-family : Arial;
	color : white;
}